@import 'variables';

.site-inner {
  .content-sidebar-wrap {
    .content {
      .post {
        color: $text-primary;
        background-color: #fff;
        padding: 0 36px;
        .entry-content {
          .section {
            clear: both;
            width: 100vw;
            max-width: 100vw;
            margin-left: calc(-50vw + 50%);
            margin-right: calc(-50vw + 50%);
            overflow: hidden;
            p {
              text-align: center;
              font-family: 'Lora', Georgia, serif;
              margin-bottom: 24px;
              font-size: 1.563rem;
              line-height: 1.625;
            }
            &.has-bg-img {
              position: relative;
            }
            &.second-section {
              background-color: $bg-primary;
              p {
                font-size: 20px;
                a {
                  color: $heading;
                  text-decoration: underline;
                  &:hover {
                    text-decoration: none;
                    color: $a-text;
                  }
                }
              }
            }
            &.fourth-section {
              background-color: $bg-primary;
            }
            .bg-picture {
              .bg-image {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                margin: auto;
              }
            }
            .wrap {
              padding-left: 24px;
              padding-right: 24px;
              display: flex;
              text-align: center;
              justify-content: center;

              &.height-lg {
                padding-top: calc(1rem + 7.451vw);
                padding-bottom: calc(1rem + 7.451vw);
              }
              &.height-md {
                padding-top: calc(1rem + 3.815vw);
                padding-bottom: calc(1rem + 3.815vw);
                .heading {
                  margin-bottom: 32px;
                }
              }
              &.height-xs {
                padding-top: calc(1rem + 1vw);
                padding-bottom: calc(1rem + 1vw);
              }

              .section-content {
                position: relative;
                z-index: 3;
                width: 100%;
                font-size: 1.563rem;
                &.width-md {
                  flex-basis: 800px;
                  max-width: 800px;
                }
                .inner {
                  background-color: rgba(255, 255, 255, 0.9);
                  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                  padding: 1.563rem 2.441rem;
                  p {
                    text-align: center;
                    font-family: 'Lora', Georgia, serif;
                    margin-bottom: 24px;
                    font-size: 1.563rem;
                    line-height: 1.625;
                  }
                }
              }
              .item {
                border: 1px solid rgba(0, 0, 0, 0.06);
                .entry-image-link {
                  margin-top: -25px;
                  margin-left: -25px;
                  margin-right: -25px;
                  margin-bottom: 0;
                  width: calc(100% + 50px);
                  max-width: calc(100% + 50px);
                  flex: 0 0 auto;
                  display: block;
                  line-height: 1;
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
                .entry-header {
                  margin-top: 18px;
                  max-width: 100%;
                  .entry-title {
                    font-family: 'Texta-Medium';
                    line-height: 1;
                    height: auto;
                  }
                }
                .entry-content {
                  display: flex;
                  flex-direction: column;
                  flex: 1 0 auto;
                  width: 100%;
                  max-width: 100%;
                  margin-top: 18px;
                  p {
                    font-family: 'Lora', Verdana, sans-serif;
                    font-size: 16px;
                    line-height: 1.625;
                    margin-bottom: 24px;
                  }
                  .more-link {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
