.slider {
  margin-left: -32px;
  margin-right: -32px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
}
.entry-content > p {
  font-size: 20px;
}
.entry-header {
  .entry-title {
    font-family: 'Texta-Medium';
  }
  .entry-job-title {
    font-family: 'Texta-Book';
    &::before {
      content: '-';
      margin: 0 6px;
    }
  }
}
.slick-arrow {
  position: absolute;
  top: 50%;
  background: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-family: 'Texta-Book';
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  z-index: 99;
  &.slick-prev {
    margin-left: calc(-50vw + 50%);
    left: 3%;
  }
  &.slick-next {
    margin-right: calc(-50vw + 50%);
    right: 3%;
  }
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  position: absolute;
  bottom: -25px;
  width: 100%;
  li {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 4px 8px;
    padding: 0px;
    content-visibility: hidden;
    background: rgb(50, 50, 50);
    opacity: 0.25;
    &.slick-active {
      opacity: 0.75;
    }
    button {
      content: '' !important;
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        opacity: 0.25;
        background: rgb(50, 50, 50);
        border-radius: 50%;
      }
    }
  }
}
@media screen and (min-width: 1401px) {
  .slick-arrow {
    &.slick-prev {
      margin-left: 0;
      left: -5%;
    }
    &.slick-next {
      margin-right: 0;
      right: -5%;
    }
  }
}
.slide {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}
