body {
  width: 100%;
  height: 100%;

  &.overflow {
    overflow: hidden;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
.burger {
  cursor: pointer;
  padding: 24px 16px;

  span {
    position: relative;
    display: block;
    width: 32px;
    height: 2px;
    background: #072768;
    transition: all 0.2s ease-in-out;

    &:before,
    &:after {
      position: absolute;
      background: #072768;
      content: '';
      width: 32px;
      height: 2px;
      transition: all 0.2s ease-in-out;
      left: 0;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
}

.burger.active {
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.mai-menu {
  font-family: 'Texta-Book', Verdana, sans-serif;
  font-weight: 400;
  max-height: 520px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateZ(0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  animation: standartMenu 0.3s ease-in-out;
  visibility: hidden;
}
.mai-menu.show {
  visibility: visible;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.mai-menu-inner {
  width: 100%;
  height: 100%;
  padding: 24px 24px 48px;
}
.search-form {
  margin-bottom: 24px;
  overflow: hidden;
}
.search-form-input {
  background-color: #fff;
  border: 1px solid #dfdcdf;
  width: 100%;
  padding: 12px;
  font-weight: 300;
  font-size: 1rem;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.15;
}
.search-form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.mobile-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
}
.mobile-menu-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.mobile-menu-item a {
  flex: 1 0 0%;
  width: 100%;
  color: #323232;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  padding: 6px 12px 6px 0;
  margin: 4px 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.highlight a {
  color: #fff;
  background-color: #323232;
  padding: 12px;
  margin: 8px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.sub-menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  span {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    background: 0 0;
    text-decoration: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}
.sub-menu-toggle.active sub-menu-toggle::after {
  transform: rotate(225deg);
  transition: all 0.2s ease-in-out;
}
.sub-menu-toggle::after {
  transition: all 0.2s ease-in-out;
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: currentColor;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
  margin: auto;
}
.sub-menu-toggle.active::after {
  transform: rotate(225deg);
  transition: all 0.2s ease-in-out;
}
.mobile-sub-menu {
  position: static;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  margin: 0;
  opacity: 1;
}
.mobile-sub-menu.show {
  display: block;
}
.mobile-sub-menu li a {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 10px 12px;
  margin: 0;
}
@keyframes standartMenu {
  0% {
    top: 80%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
