// @import 'variables';
// @import 'header';
// @import 'main';
// @import 'footer';
// @import 'slider';
@import './burger.css';
@import './header.css';
@import './main.css';
@import './slider.css';
@import './footer.css';
body {
  overflow-x: hidden;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrap {
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
  box-sizing: border-box;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.heading {
  color: $heading;
  font-family: Verdana, sans-serif;
  font-family: 'Texta-Medium', Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.953rem;
  line-height: 1.2;
}
